<div id="check-availability__spinner">
	<h2 class="title-h2">Check Availability</h2>
    <p class="body-copy">
        We're customizing your experience with products and pricing for your area.<br/>This will only take a few moments. Thanks for your patience.
    </p>
    <img class="input-loading" src="resources/images/styles/loading.gif" alt="loading..."/>
    <p class="body-copy check-products">
        Checking for products in your area.
    </p>
</div>
