<div class="flow__tabs-container-packages">
    <h2 class="title-h2">In a hurry?<br /><span class="title-details-orange">Try Wireless Packages.</span></h2>
    <p class="tabs-container__details-text">Save time with a wireless package that<br />includes voice, data, and messaging.</p>

    <div class="tabs-container__details-package">
        <h3 class="tabs-container__details-package-title">Low Usage<br />Package</h3>
        <div class="price">
            <sup>$</sup>104<sup>99</sup><sub>/mo</sub>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link" data-popover data-content=".popover-packages" data-class-name="popover-packages" data-trigger="click" data-style="light" title="Business Nation 450 with Rollover">Business Nation 450<br />with Rollover</a>
            <span class="price--small">
                <sup>$</sup>39<sup>99</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">DataPro Enterprise 3GB<br />for iPhone® on 4G LTE</a>
            <span class="price--small">
                <sup>$</sup>45<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">Messaging Unlimited<br />with Mobile to Any Mobile</a>
            <span class="price--small">
                <sup>$</sup>20<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <a href="#" class="button button--hero">add to cart</a>
    </div>
    <div class="tabs-container__details-package">
        <h3 class="tabs-container__details-package-title">Medium Usage<br />Package</h3>
        <div class="price">
            <sup>$</sup>129<sup>99</sup><sub>/mo</sub>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">usiness Nation 900<br />with Rollover</a>
            <span class="price--small">
                <sup>$</sup>59<sup>99</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">DataPro Enterprise 5GB<br />for iPhone® on 4G LTE</a>
            <span class="price--small">
                <sup>$</sup>50<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">Messaging Unlimited<br />with Mobile to Any Mobile</a>
            <span class="price--small">
                <sup>$</sup>20<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <a href="#" class="button button--hero">add to cart</a>
    </div>
    <div class="tabs-container__details-package">
        <h3 class="tabs-container__details-package-title">High Usage<br />Package</h3>
        <div class="price">
            <sup>$</sup>165<sup>00</sup><sub>/mo</sub>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">BusinessTalk 1,400 with Free<br />Mobile to Mobile with Rollover</a>
            <span class="price--small">
                <sup>$</sup>80<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link" data-tooltip data-style="dark" title="DataPro Enterprise 5GB with Tethering for 4G LTE Smartphone">DataPro Enterprise 5GB<br />with Tethering for iPhone®...</a>
            <span class="price--small">
                <sup>$</sup>65<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <div class="tabs-container__details-package-info">
            <a href="#" class="link">Messaging Unlimited<br />with Mobile to Any Mobile</a>
            <span class="price--small">
                <sup>$</sup>20<sup>00</sup><sub>/mo</sub>
            </span>
        </div>
        <a href="#" class="button button--hero">add to cart</a>
    </div>
</div>
