<div class="full-grid">
    <div class="megadropdown__items">
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-apps-media"><span class="visuallyhidden">Marketing.</span></i><h5 class="megadropdown__item-title">Marketing</h5><span class="visuallyhidden">Marketing</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Messaging Toolkit<span class="visuallyhidden">Messaging Toolkit</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-tools"><span class="visuallyhidden">Productivity.</span></i><h5 class="megadropdown__item-title">Productivity</h5><span class="visuallyhidden">Productivity</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Office 365 Solutions<span class="visuallyhidden">Office 365 Solutions</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Cloud-based Call Routing<span class="visuallyhidden">Cloud-based Call Routing</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Teleconferencing<span class="visuallyhidden">Teleconferencing</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Remote Access Service<span class="visuallyhidden">Remote Access Service</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-messaging"><span class="visuallyhidden">Workforce Solutions.</span></i><h5 class="megadropdown__item-title">Workforce Solutions</h5><span class="visuallyhidden">Workforce Solutions</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Telenav<span class="visuallyhidden">Telenav</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Enhanced Push-to-Talk<span class="visuallyhidden">Enhanced Push-to-Talk</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Mobility Solutions<span class="visuallyhidden">Mobility Solutions</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Business Messaging<span class="visuallyhidden">Business Messaging</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <div class="megadropdown__item--top-align"></div>
            <a href="#"><h5 class="megadropdown__item-title"></h5><span class="visuallyhidden"></span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="megadropdown__promo">
        <div class="megadropdown__promo__title">Title</div>
  		<div class="megadropdown__promo__tagline">Starting at</div>
        <img src="http://placehold.it/220x170" title="" alt=""/>
        <a href="#" class="button button--primary">Shop Now<span class="visuallyhidden">Shop now.</span></a>
    </div>
</div>
