<div class="full-grid">
    <div class="breadcrumbs__items breadcrumbs__items--block1 breadcrumbs__items--text">
         <ul>
            <li class="nav__item">
                <a class="nav__link nav__link--reset" href="#"><span class="nav__item--truncate">Wireless</span><i class="dropdown__caret icon-dropdown-down"><span class="visuallyhidden">Open the list of options.</span></i><i class="dropdown__caret icon-dropdown-up"><span class="visuallyhidden">Close the list of options.</span></i><span class="visuallyhidden">open products</span></a>
                <div class="megadropdown">
                    {{> wireless-dropdown }}
                </div>
            </li>
        </ul>
    </div>
    <div class="breadcrumbs__items breadcrumbs__items--block2 breadcrumbs__items--right">
        <ul>
            <li class="breadcrumbs__item breadcrumbs__item--arquived">
                <a href="#" class="breadcrumbs__link breadcrumbs__link-icon" data-tooltip data-trigger="click" data-content=".breadcrumbs-content" data-position="below" data-style="dark" data-class-name="breadcrumbs-dropdown" data-popoverid="breadcrumbs-dropdown">
                    <i class="icon-folder"><span class="visuallyhidden">More Links</span></i>
                    <i class="icon-dropdown-down"><span class="visuallyhidden">More Links</span></i>
                </a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link" data-tooltip data-position="below" data-style="light" title="Smart Phones" data-trigger="hover">Smart Phones<span class="visuallyhidden"></span></a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link" data-tooltip data-position="below" data-style="light" title="Apple" data-trigger="hover">Apple<span class="visuallyhidden"></span></a>
            </li>
           <li class="breadcrumbs__item">
                <span class="breadcrumbs__link breadcrumbs__link--active" data-tooltip data-position="below" data-style="light" title="IPhone 5s" data-trigger="hover">IPhone 5s</span>
            </li>
        </ul>
    </div>
</div>

