<div class="full-grid">
    <div class="megadropdown__items">
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-bundles"><span class="visuallyhidden">Bundles.</span></i><h5 class="megadropdown__item-title">Bundles</h5><span class="visuallyhidden">Bundles</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Shop Bundles<span class="visuallyhidden"></span>Shop Bundles</a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Build Your Own Bundle<span class="visuallyhidden">Build Your Own Bundle</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-offers"><span class="visuallyhidden">Special offers.</span></i><h5 class="megadropdown__item-title">Special Offers</h5><span class="visuallyhidden">Special offers</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">All<span class="visuallyhidden">All</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Bundles<span class="visuallyhidden">Bundles</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Wireless<span class="visuallyhidden">Wireless</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Internet<span class="visuallyhidden">Internet</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Business TV<span class="visuallyhidden">Business TV</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Apps &amp; Services<span class="visuallyhidden">Apps and services</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Other<span class="visuallyhidden">Other</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="megadropdown__promo">
        <div class="megadropdown__promo__title">Title</div>
  		<div class="megadropdown__promo__tagline">Starting at</div>
        <img src="http://placehold.it/220x170" title="" alt=""/>
        <a href="#" class="button button--primary">Shop Now<span class="visuallyhidden">Shop now.</span></a>
    </div>
</div>
