<div class="full-grid">
    <div class="megadropdown__items">
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-website-hosting-outline"><span class="visuallyhidden">Web hosting.</span></i><h5 class="megadropdown__item-title">Web Hosting</h5><span class="visuallyhidden">Web hosting</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Website Plans<span class="visuallyhidden">Website Plans</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Managed Servers<span class="visuallyhidden">Managed Servers</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Virtual Servers<span class="visuallyhidden">Virtual Servers</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Cloud<span class="visuallyhidden">Cloud</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Email<span class="visuallyhidden">Email</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a href="#"><i class="icon-plans"><span class="visuallyhidden">Marketing.</span></i><h5 class="megadropdown__item-title">Marketing</h5><span class="visuallyhidden">Marketing</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Messaging Toolkit<span class="visuallyhidden">Messaging Toolkit</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Build It For Me Website<span class="visuallyhidden">Build It For Me Website</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Email Marketing<span class="visuallyhidden">Email marketing</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-modem"><span class="visuallyhidden">Technical services.</span></i><h5 class="megadropdown__item-title">Technical Services</h5><span class="visuallyhidden">Technical services</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Data &amp; Network Services<span class="visuallyhidden">Data and Network Services</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Computer &amp; Device Support<span class="visuallyhidden">Computer and Device Support</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Business in a Box Training<span class="visuallyhidden">Business in a Box Training</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Server Support<span class="visuallyhidden">Server Support</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <div class="megadropdown__item--top-align"></div>
            <a href="#"><h5 class="megadropdown__item-title"></h5><span class="visuallyhidden"></span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="megadropdown__promo">
        <div class="megadropdown__promo__title">Title</div>
  		<div class="megadropdown__promo__tagline">Starting at</div>
        <img src="http://placehold.it/220x170" title="" alt=""/>
        <a href="#" class="button button--primary">Shop Now<span class="visuallyhidden">Shop now.</span></a>
    </div>
</div>
