<div class="full-grid">
    <div class="megadropdown__items">
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-internet"><span class="visuallyhidden">Internet.</span></i><h5 class="megadropdown__item-title">Internet</h5><span class="visuallyhidden">Internet</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="#shopinternet" class="megadropdown__nav-link">Internet Options<span class="visuallyhidden">Internet Options</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-landline"><span class="visuallyhidden">Business Phone.</span></i><h5 class="megadropdown__item-title">Business Phone</h5><span class="visuallyhidden">Business Phone</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="#Local" class="megadropdown__nav-link">Local &amp; Long Distance<span class="visuallyhidden">Local &amp; Long Distance</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#" class="megadropdown__nav-link">Toll-Free Long Distance<span class="visuallyhidden">Toll-Free Long Distance</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">AT&amp;T Online Fax<span class="visuallyhidden">AT&T Online Fax</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">AT&amp;T U-verse Voice<span class="visuallyhidden">AT&T U-verse Voice</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-tv"><span class="visuallyhidden">Business TV.</span></i><h5 class="megadropdown__item-title">Business TV</h5><span class="visuallyhidden">Business TV</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Business Viewing<span class="visuallyhidden">Business Viewing</span></a>
                </li>
                 <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Private Viewing<span class="visuallyhidden">Private Viewing</span></a>
                </li>
                 <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Public Viewing<span class="visuallyhidden">Public Viewing</span></a>
                </li>
            </ul>
        </div>
        <div class="megadropdown__item">
            <div class="megadropdown__item--top-align"></div>
            <a href="#"><h5 class="megadropdown__item-title"></h5><span class="visuallyhidden"></span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="megadropdown__promo">
        <div class="megadropdown__promo__title">Title</div>
  		<div class="megadropdown__promo__tagline">Starting at</div>
        <img src="http://placehold.it/220x170" title="" alt=""/>
        <a href="#" class="button button--primary">Shop Now<span class="visuallyhidden">Shop now.</span></a>
    </div>
</div>
