<div class="full-grid">
    <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Wireless<span class="visuallyhidden">Wireless</span></a>
            <div class="megadropdown">
                {{> wireless-dropdown }}
            </div>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Apps<span class="visuallyhidden">Apps</span></a>
            <div class="megadropdown">
                {{> apps-dropdown }}
            </div>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Internet, phone &amp; TV<span class="visuallyhidden">Internet Phone and TV</span></a>
            <div class="megadropdown">
                {{> internet_phone-dropdown }}
            </div>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Hosting &amp; Tech Services<span class="visuallyhidden">Hosting and Tech Services</span></a>
            <div class="megadropdown">
                {{> hosting_tech_services-dropdown }}
            </div>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Bundles &amp; Special Offers<span class="visuallyhidden">Bundles and Special Offers</span></a>
            <div class="megadropdown">
                {{> bundles_special_offers-dropdown }}
            </div>
        </li>
    </ul>
</div>
