<div class="full-grid">
    <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Billing &amp; Account<span class="visuallyhidden">Billing and Account</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">Order Status<span class="visuallyhidden">Order Status</span></a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact Us<span class="visuallyhidden">Contact Us</span></a></li>
    </ul>
</div>
