<div class="full-grid">
	<div class="megadropdown__items">
		<div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-devices"><span class="visuallyhidden">Wireless phones and devices.</span></i><h5 class="megadropdown__item-title">Phones &amp; Devices</h5><span class="visuallyhidden">Phones and Devices</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="#Smartphones" class="megadropdown__nav-link">Devices on Installment<span class="visuallyhidden">Devices on Installment</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#Smartphones" class="megadropdown__nav-link">Smartphones<span class="visuallyhidden">Smartphones</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#basicphones" class="megadropdown__nav-link">Basic Phones<span class="visuallyhidden">Basic phones</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#tablets" class="megadropdown__nav-link">Tablets<span class="visuallyhidden">Tablets</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#new" class="megadropdown__nav-link">New<span class="visuallyhidden">New</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#likenew" class="megadropdown__nav-link">AT&amp;T Certified Like-New<span class="visuallyhidden">AT&T Certified Like New</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#popular" class="megadropdown__nav-link">Most Popular<span class="visuallyhidden">Most Popular</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#android" class="megadropdown__nav-link">Android<span class="visuallyhidden">Android</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#apple" class="megadropdown__nav-link">Apple<span class="visuallyhidden">Apple</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="#blackberry" class="megadropdown__nav-link">Blackberry<span class="visuallyhidden">Blackberry</span></a>
                </li>
                 <li class="megadropdown__nav-item">
                    <a href="#blackberry" class="megadropdown__nav-link">Samsung<span class="visuallyhidden">Samsung</span></a>
                </li>
            </ul>
  		</div>
      	<div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-plans"><span class="visuallyhidden">Wireless plans and features.</span></i><h5 class="megadropdown__item-title">Plans</h5><span class="visuallyhidden">Plans</span></a>
            <ul class="megadropdown__item-list">

                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Share Plans<span class="visuallyhidden">Shared Plans</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Group Voice<span class="visuallyhidden">Group Voice</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Individual voice<span class="visuallyhidden">Individual voice</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Wireless Features<span class="visuallyhidden">Wireless Features</span></a>
                </li>
            </ul>
      	</div>
      	<div class="megadropdown__item">
            <a class="megadropdown__item__text" href="#"><i class="icon-accessories"><span class="visuallyhidden">Wireless accessories.</span></i><h5 class="megadropdown__item-title">Accessories</h5><span class="visuallyhidden">Accessories</span></a>
            <ul class="megadropdown__item-list">

                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Cases<span class="visuallyhidden">Cases</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Chargers &amp; Batteries<span class="visuallyhidden">Chargers and Batteries</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Screen Protectors<span class="visuallyhidden">Screen Protectors</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Data &amp; Memory<span class="visuallyhidden">Data and Memory</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Apple<span class="visuallyhidden">Apple</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Bluetooth<span class="visuallyhidden">Bluetooth</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Audio<span class="visuallyhidden">Audio</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Gadgets<span class="visuallyhidden">Gadgets</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Clearence<span class="visuallyhidden">Clearence</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">New Arrivals<span class="visuallyhidden">New Arrivals</span></a>
                </li>
                 <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Wearables<span class="visuallyhidden">Wearables</span></a>
                </li>
            </ul>
      	</div>
      	<div class="megadropdown__item">
            <a href="#"><i class="icon-add-ons"><span class="visuallyhidden">Mobile Internet.</span></i><h5 class="megadropdown__item-title">Mobile Internet</h5><span class="visuallyhidden">Mobile Internet</span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Hotspot Devices<span class="visuallyhidden">Hotspot Devices</span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link">Tablets<span class="visuallyhidden">Tablets</span></a>
                </li>
            </ul>
            <div class="megadropdown__item--m-t"></div>
            <a href="#"><h5 class="megadropdown__item-title"></h5><span class="visuallyhidden"></span></a>
            <ul class="megadropdown__item-list">
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
                <li class="megadropdown__nav-item">
                    <a href="" class="megadropdown__nav-link"><span class="visuallyhidden"></span></a>
                </li>
            </ul>
      	</div>
	</div>
  	<div class="megadropdown__promo">
  		<div class="megadropdown__promo__title">Title</div>
  		<div class="megadropdown__promo__tagline">Starting at</div>
		<img src="http://placehold.it/220x170" title="" alt=""/>
		<a href="#" class="button button--primary">Shop Now<span class="visuallyhidden">Shop now.</span></a>
  	</div>
</div>
