<div data-redirect-url="http://www.business.att.com/enterprise/Service/network-services/internet-connectivity/managed-internet-service/"></div>
<article class="full-grid">
    <div class="cards-carousel-wpr">
        <div class="no-service-msg">
            <div class="cards-carousel__header">
                <h2 class="cards-carousel__header-title">AT&amp;T Internet services are currently not available in your area.</h2>
                <p class="cards-carousel__header-body">You can check Internet availability for another location or shop for mobile Internet services.</p>
                <div class="cards-carousel__no-services">
                    <a href="#" class="change-location button button--primary button--small"><span class="visuallyhidden">Click to </span>Change Location</a>
                    <a href="#" class="button button--secondary button--small"><span class="visuallyhidden">Navigate to </span>Shop Mobile Internet</a>
                </div>
            </div>
        </div>
        <div class="cards-carousel">
            <div class="cards-carousel__header" style="visibility: hidden">
                <h2 class="cards-carousel__header-title">AT&T high-speed business edition internet</h2>
                <p class="cards-carousel__header-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

                <p id="cards-carousel__address" class="cards-carousel__header-address">Availability for
                    <span id="plans-header-address1"></span>,
                    <span id="plans-header-address2"></span>
                    <span id="plans-header-city"></span>,
                    <span id="plans-header-state"></span>&#160;<span id="cards-header-zip-code"></span>&#160;<a class="link">Change Location</a>
                </p>

                <button id="cards-carousel__check-availability-internet" alt="Check Availability" class="button button--primary cards-carousel__header-cta">Check Availability</button>

                <p class="cards-carousel__header-body2">Check internet availability in your area or <a href="#" class="link">learn more <span class="visuallyhidden">about bundling Internet with Business Phone</span></a> about bundling Internet with Business Phone</p>
            </div>
            <div class="full-grid">
                <div class="cards-carousel__cards"></div>
            </div>
            <div class="cards-carousel__form"></div>
            <div class="cards-carousel__cards-nav"></div>
        </div>
    </div>
</article>
